* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0.2px solid black;
}

#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13,#p14,#p15,#p16,#p17,#p18,#p19,#p20,#p21,#p22,#p23,#p24,#p25
,#p26,#p27,#p28,#p29,#p30 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  border: 3px solid black;
  left: -62px;
  transition: all linear 0.5s;
}

#p1 {
  top: 3px;
  z-index: 999;
  background-color: #c41e3a;
}
#p2 {
  z-index: 998;
  top: -55px;
  background-color: #614051;
}
#p3 {
  z-index: 997;
  top: -110px;
  background-color: #50c878;
}
#p4 {
  z-index: 996;
  top: -165px;
  background-color: #dda0dd;
}
#p5 {
  z-index: 995;
  top: -222px;
  background-color: #738678;
}
#p6 {
  z-index: 994;
  top: -278px;
  background-color: #daa520;
}
#p7 {
  z-index: 993;
  top: -335px;
  background-color: #f0e130;
}
#p8 {
  z-index: 992;
  top: -390px;
  background-color: #ffe5b4;
}
#p9 {
  z-index: 991;
  top: -445px;
  background-color: #ffd700;
}
#p10 {
  z-index: 990;
  top: -501px;
  background-color: #ffbcd9;
}
#p11 {
  z-index: 989;
  top: -557px;
  background-color: #de3163;
}
#p12 {
  z-index: 989;
  top: -615px;
  background-color: #cd5c5c;
}
#p13 {
  z-index: 989;
  top: -670px;
  background-color: #de5d83;
}
#p14 {
  z-index: 989;
  top: -725px;
  background-color: #b2beb5;
}
#p15 {
  z-index: 989;
  top: -782px;
  background-color: #fad6a5;
}
#p16 {
  z-index: 989;
  top: -838px;
  background-color: #deaa88;
}
#p17 {
  z-index: 989;
  top: -895px;
  background-color: #da70d6;
}
#p18 {
  z-index: 989;
  top: -950px;
  background-color: #f0fff0;
}
#p19 {
  z-index: 989;
  top: -1005px;
  background-color: #ff7f50;
}
#p20 {
  z-index: 989;
  top: -1062px;
  background-color: #ed9121;
}
#p21 {
  z-index: 989;
  top: -1117px;
  background-color: #c19a6b;
}
#p22 {
  z-index: 989;
  top: -1175px;
  background-color: #eae0c8;
}
#p23 {
  z-index: 989;
  top: -1230px;
  background-color: #e0115f;
}
#p24 {
  z-index: 989;
  top: -1286px;
  background-color: #d0f0c0;
}
#p25 {
  z-index: 989;
  top: -1341px;
  background-color: #e6e6fa;
}
#p26 {
  z-index: 989;
  top: -1398px;
  background-color: #fff700;
}
#p27 {
  z-index: 989;
  top: -1453px;
  background-color: #b06500;
}
#p28 {
  z-index: 989;
  top: -1510px;
  background-color: #ff00ff;
}
#p29 {
  z-index: 989;
  top: -1565px;
  background-color: #e3dac9;
}
#p30 {
  z-index: 989;
  top: -1621px;
  background-color: #9966cc;
}




img {
  position: relative;
  top: -615px;
  left: 8px;
  /* z-index: -1; */
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 190px;
  left: 120px;
  font-size: 2rem;
  z-index: 99;
}

#turn-display {
  margin-bottom: 3px;
}

#diceBtn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "JetBrains Mono",monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  margin-top: 8px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
}

#diceBtn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#diceBtn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#cause-effect-container {
  text-align: left;
  position: absolute;
  font-family: "JetBrains Mono",monospace;
  width: 250px;
  top: 400px;
  left: 120px;
  font-size: 0.88rem;
  z-index: 99;
}
#effect {
  font-size: 110%;
  font-weight: bold;
  margin-top: 
}

@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}

/*
Dice Rolling Classes
*/
.dice-container {
  display: flex;
}

.dice {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.dice-dot {
  --top: 0%;
  --left: 0%;

  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;

  /* Dot Positioning */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}