* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0.2px solid black;
}

#p1,
#p2,
#p3,
#p4 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(236, 82, 82);
  position: relative;
  border: 3px solid black;

  /* position: absolute; */
}

#p1 {
  position: relative;
  top: 3px;
  transition: all linear 0.5s;
  /* top: 3px; */
  left: -62px;
  z-index: 999;
}

#p2 {
  z-index: 100;
  position: relative;
  top: -55px;
  left: -62px;
  transition: all linear 0.5s;
  background-color: rgb(243, 181, 46);
}

#p3 {
  z-index: 99;
  position: relative;
  top: -110px;
  left: -62px;
  transition: all linear 0.5s;
  background-color: rgb(27, 141, 31);
}

#p4 {
  z-index: 98;
  position: relative;
  top: -165px;
  left: -62px;
  transition: all linear 0.5s;
  background-color: rgb(130, 54, 120);
}



img {
  position: relative;
  top: -615px;
  left: 8px;
  /* z-index: -1; */
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 190px;
  left: 120px;
  font-size: 2rem;
  z-index: 99;
}

#turn-display {
  margin-bottom: 3px;
}

#diceBtn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "JetBrains Mono",monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  margin-top: 8px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
}

#diceBtn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#diceBtn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#cause-effect-container {
  text-align: left;
  position: absolute;
  font-family: "JetBrains Mono",monospace;
  width: 250px;
  top: 400px;
  left: 120px;
  font-size: 0.88rem;
  z-index: 99;
}
#effect {
  font-size: 110%;
  font-weight: bold;
  margin-top: 
}

@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}

/*
Dice Rolling Classes
*/
.dice-container {
  display: flex;
}

.dice {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.dice-dot {
  --top: 0%;
  --left: 0%;

  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;

  /* Dot Positioning */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}